# UV 
.*env

# uv.lock гарантирует воспроизводимость окружения. Любые изменения в uv.lock — как и изменения в коде — должны проходить через code review, поскольку они могут повлиять на поведение и стабильность всей ML-системы.
.DS_Store